@import "src/theme";

.avatar {
    border-radius: 50%;
}

.title {
    font-weight: bolder;
    color: $text-color;
}

.subtitle {
    color: $secondary-text-color;
}

.bolder {
    font-weight: bolder;
}

.card-item {
    
}